* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 5%;
}

.title {
    margin-bottom: 5%;
}

.card-container {
    margin-bottom: 2%;
}

.right-card p {
    margin-top: 1%;
}